/**
* @name BetterBadges
* @author mr_miner#6592
* @version 1.1
* @description A theme which adds cool animations to discord's badges!
* @source https://github.com/mr-miner1/Better-Badges
* @updateUrl https://github.com/mr-miner1/Better-Badges/blob/main/BetterBadges(BD).theme.css
*/

@import url('https://mr-miner1.github.io/Better-Badges/theme.css');