/**
* @name BetterBadges
* @author mr_miner#6592
* @version 1.1
* @description A theme which adds cool animations to discord's badges!
* @source https://github.com/mr_miner1/Better-Badges
* @updateUrl https://github.com/mr-miner1/Better-Badges/blob/main/BetterBadges(BD).theme.css
*/
/*booster badges*/
[class*=GuildSubscriberlvl]{
  transition-duration: 0.25s;
}
[class*=GuildSubscriberlvl]:hover{
  animation-name: boosterbadge;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}
/* hype squad badges */
[class*=HypeSquad]
{
  transition-duration: 0.5s;
}
.profileBadgeHypeSquadOnlineHouse1-3rBtjf:hover{
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848502137436635156/braverysquadbadge.png");
  transform: scale(1.5);
  filter: drop-shadow(0px 0px 2px #9c84ef);
}
.profileBadgeHypeSquadOnlineHouse2-2oU04B:hover{
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503338579656714/brilliancesquadbadge.png");
  transform: scale(1.5);
  filter: drop-shadow(0px 0px 2px #f47b67);
}
.profileBadgeHypeSquadOnlineHouse3-1DoJkv:hover{
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503229583065088/balancesquadbadge.png");
  transform: scale(1.5);
  filter: drop-shadow(0px 0px 2px #45ddc0)
}
/*partner badge*/
.profileBadgePartner-j6Lwhr{
  animation-name: partnerbadge;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
}
@keyframes partnerbadge {
  0%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503285556051988/partnerbadge.gif");
    transform: scale(0.98);
    filter: contrast(1.35);
  }
  100%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503285556051988/partnerbadge.gif");
    transform: scale(0.98);
    filter: contrast(1.35);
  }
}
@keyframes boosterbadge {
  0%{
    background-image: url("https://cdn.discordapp.com/emojis/845808489238757426.gif?v=1");;
    transform: scale(0.98);
    filter: contrast(1.35);
  }
  100%{
    background-image: url("https://cdn.discordapp.com/emojis/845808489238757426.gif?v=1");;
    transform: scale(0.98);
    filter: contrast(1.35);
  }
}
/*certified moderator badge*/
.profileBadgeCertifiedModerator-1TQtjV:hover{
  transform: rotateY(540deg) scale(1.2);
}
.profileBadgeCertifiedModerator-1TQtjV{
  transition-duration: 1.4s;
}
/* bug hunter badges*/
[class*=BugHunter]{
    transition-duration: 0.5s;
}
[class*=BugHunter]:hover{
  transform: rotateY(180deg) rotate(-90deg) scale(1.1);
}
/* nitro badge*/
.profileBadgePremium-1KDZYC{
  transition-duration: 1.2s;
}
.profileBadgePremium-1KDZYC:hover{
    filter: hue-rotate(350deg);
    transform: scale(1.2);
}
/* verified dev */
.profileBadgeVerifiedDeveloper-195KfD{
  animation-name: devbadge;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
    transition-duration: 0.25s;
    transform: scale(1.15);
}
.profileBadgeVerifiedDeveloper-195KfD:hover{
  filter:hue-rotate(20deg);
  transform: scale(1.3);
}
@keyframes devbadge {
  0%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838640197304341/thing1.png");
  }
  6.25%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838641575919616/thing2.png");
  }
  12.5%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838643107889173/thing3.png");
  }
  18.75%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838644717977660/thing4.png");
  }
  25%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838646499901500/thing5.png");
  }
  31.25%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838647398006804/thing6.png")
  }
  37.5%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838648417615903/thing7.png");
  }
  43.75%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838649788497940/thing8.png");
  }
  50%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838650111852544/thing9.png");
  }
  56.25%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838652200353792/thing10.png");
  }
  62.5%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848841593095454780/thing11.png")
  }
  68.75%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838686955012126/thing12.png");
  }
  75%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838692889034752/thing13.png");
  }
  81.25%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838702435139615/thing14.png");
  }
  87.5%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838706067537951/thing15.png")
  }
  93.75%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838717279174666/thing16.png");
  }
  100%{
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838640197304341/thing1.png")
  }
}
[class*=profileBadge-2niAfJ]{
  cursor:default;
}
/* early supporter badge someday maybe :(
.profileBadgeEarlySupporter-2ng_jL{}*/
/* hype squad events*/
.colored-1armap .profileBadgeHypesquad-12E2P6{
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/849218042898022431/events1.png");
  transform: scale(1.2);
}
.profileBadgeHypesquad-12E2P6:hover{
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/849218085961596948/events.gif");
    transform: scale(1.2);
}
/* game activity*/
.topSectionSpotify-1lI0-P [class*=HypeSquad]:hover, .topSectionPlaying-1J5E4n [class*=HypeSquad]:hover{
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503318497198092/whitesquadbadge.png");
  filter: drop-shadow(0px 0px 2px white);
  transform: scale(1.5);
}
.topSectionSpotify-1lI0-P .profileBadgeVerifiedDeveloper-195KfD, .topSectionSpotify-1lI0-P .profileBadgePartner-j6Lwhr, .topSectionSpotify-1lI0-P .profileBadgeHypesquad-12E2P6, .topSectionSpotify-1lI0-P [class*=GuildSubscriberlvl] {
  animation-name: none;
}
.topSectionPlaying-1J5E4n .profileBadgeVerifiedDeveloper-195KfD, .topSectionPlaying-1J5E4n .profileBadgePartner-j6Lwhr, .topSectionPlaying-1J5E4n .profileBadgeHypesquad-12E2P6, .topSectionPlaying-1J5E4n [class*=GuildSubscriberlvl]:hover {
  animation-name: none;
}
.profileBadgeStaff-3BXdTO:hover{
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/849207087409528842/staff.png");
  transform: scale(1.2);
  filter: contrast(1.35) brightness(0.69) saturate(1.5);
}
.profileBadgeStaff-3BXdTO{
  transition-duration: 0.75s;
}
.topSectionSpotify-1lI0-P .profileBadgeStaff-3BXdTO:hover:hover, .topSectionPlaying-1J5E4n .profileBadgeStaff-3BXdTO:hover:hover{
  background-image:url("https://cdn.discordapp.com/attachments/756856464374628352/849211258950910012/staff.png");
  filter: contrast(1) brightness(1) saturate(1);
}