@keyframes devbadge {
  0% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838640197304341/thing1.png");
  } 6.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838641575919616/thing2.png");
  } 12.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838643107889173/thing3.png");
  } 18.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838644717977660/thing4.png");
  } 25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838646499901500/thing5.png");
  } 31.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838647398006804/thing6.png")
  } 37.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838648417615903/thing7.png");
  } 43.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838649788497940/thing8.png");
  } 50% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838650111852544/thing9.png");
  } 56.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838652200353792/thing10.png");
  } 62.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848841593095454780/thing11.png")
  } 68.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838686955012126/thing12.png");
  } 75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838692889034752/thing13.png");
  } 81.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838702435139615/thing14.png");
  } 87.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838706067537951/thing15.png")
  } 93.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838717279174666/thing16.png");
  } 100% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838640197304341/thing1.png");
  }
}
/* Early supporter badge someday maybe :(
.profileBadgeEarlySupporter-2ng_jL {} */

/* Booster badges */
.topSectionNormal-2-vo2m [class*="GuildSubscriberlvl"], .headerTop-2cWpdB [class*="GuildSubscriberlvl"] {
  transition-duration: 0.5s;
  transition-delay: 1.5s;
}

[class*="GuildSubscriberlvl"]:hover {
  transform: scale(0.9);
  background-image: url("https://cdn.discordapp.com/emojis/845808489238757426.gif");
    transition-delay: 0s;
    transition-duration: 0.25s;
}

/* Staff badges */
.profileBadgeStaff-3BXdTO {
  transition-duration: 0.75s;
}
.profileBadgeStaff-3BXdTO:hover {
  transform: scale(1.2);
  filter: contrast(1.35) brightness(0.69) saturate(1.5);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/849207087409528842/staff.png");
}

/* Hype Squad badges */
[class*="profileBadgeHypeSquad"] {
  transition-duration: 0.5s;
}
[class*="profileBadgeHypeSquad"]:hover {
  transform: scale(1.5);
  filter: drop-shadow(0 0 2px var(--hypesquad-colour));
}
.profileBadgeHypeSquadOnlineHouse1-3rBtjf:hover {
  --hypesquad-colour: rgb(156, 132, 239);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848502137436635156/braverysquadbadge.png");
}
.profileBadgeHypeSquadOnlineHouse2-2oU04B:hover {
  --hypesquad-colour: rgb(244, 123, 103);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503338579656714/brilliancesquadbadge.png");
}
.profileBadgeHypeSquadOnlineHouse3-1DoJkv:hover {
  --hypesquad-colour: rgb(69, 221, 192);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503229583065088/balancesquadbadge.png");
}

/* Hype squad events badges */
.userPopout-3XzG_A .profileBadgeHypesquad-12E2P6,
.topSectionNormal-2-vo2m .profileBadgeHypesquad-12E2P6 {
  transform: scale(1.2);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/849218042898022431/events1.png");
  transition-delay: 1s;
}
.userPopout-3XzG_A .profileBadgeHypesquad-12E2P6:hover,
.topSectionNormal-2-vo2m .profileBadgeHypesquad-12E2P6:hover {
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/849218085961596948/events.gif");
  transition-delay: 0s;
}

/* Partner badge */
.profileBadgePartner-j6Lwhr:hover {
  transform: scale(1);
  filter: contrast(1.35);
  transition-delay: 0ms;
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503285556051988/partnerbadge.gif");
}
.profileBadgePartner-j6Lwhr{
    transition-delay: 2630ms;
    filter: contrast(1);
    transform: scale(1);
    /* transition-duration: 0.5s; */
}
/* Certified moderator badge */
.profileBadgeCertifiedModerator-1TQtjV {
  transition-duration: 1.4s;
}
.profileBadgeCertifiedModerator-1TQtjV:hover {
  transform: rotateY(540deg) scale(1.2);
}

/* Bug hunter badges */
.profileBadgeBugHunterLevel1-dbEzVz,
.profileBadgeBugHunterLevel2-3TUciC {
  transition-duration: 0.5s;
}
.profileBadgeBugHunterLevel1-dbEzVz:hover,
.profileBadgeBugHunterLevel2-3TUciC:hover {
  transform: rotateY(180deg) rotate(-90deg) scale(1.1);
}

/* Nitro badge */
.profileBadgePremium-1KDZYC {
  transition-duration: 1.2s;
}
.profileBadgePremium-1KDZYC:hover {
  transform: scale(1.2);
  filter: hue-rotate(350deg);
}

/* Verified dev */
.userPopout-3XzG_A .profileBadgeVerifiedDeveloper-195KfD,
.topSectionNormal-2-vo2m .profileBadgeVerifiedDeveloper-195KfD {
  transform: scale(1.15);
  transition-duration: 0.25s;
  transition-duration: 0.5s;
  animation: devbadge 5s inherit normal linear;
}
.userPopout-3XzG_A .profileBadgeVerifiedDeveloper-195KfD:hover,
.topSectionNormal-2-vo2m .profileBadgeVerifiedDeveloper-195KfD:hover {
  transform: scale(1.3);
  animation: devbadge 5s infinite normal linear;
}

/* Game activity */
.topSectionSpotify-1lI0-P .profileBadgeStaff-3BXdTO:hover,
.topSectionPlaying-1J5E4n .profileBadgeStaff-3BXdTO:hover,
.topSectionStreaming-1Tpf5X .profileBadgeStaff-3BXdTO:hover
{
  filter: contrast(1) brightness(1) saturate(1);
  background-image:url("https://cdn.discordapp.com/attachments/756856464374628352/849211258950910012/staff.png");
}
.topSectionSpotify-1lI0-P [class*="profileBadgeHypeSquad"]:hover,
.topSectionPlaying-1J5E4n [class*="profileBadgeHypeSquad"]:hover,
.topSectionStreaming-1Tpf5X [class*="profileBadgeHypeSquad"]:hover
{
  --hypesquad-colour: white;
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503318497198092/whitesquadbadge.png");
}
.topSectionSpotify-1lI0-P [class*="GuildSubscriberlvl"]:hover,
.topSectionPlaying-1J5E4n [class*="GuildSubscriberlvl"]:hover,
.topSectionStreaming-1Tpf5X [class*="GuildSubscriberlvl"]:hover
{
  filter: brightness(1.1) contrast(2) opacity(75%);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/849951762127126548/boosterbadge.gif");
  transform: scale(0.9);
  transition-delay: 0s;
}
.topSectionSpotify-1lI0-P .profileBadgePartner-j6Lwhr:hover,
.topSectionPlaying-1J5E4n .profileBadgePartner-j6Lwhr:hover,
.topSectionStreaming-1Tpf5X.profileBadgePartner-j6Lwhr:hover{
  transform: scale(0.98);
  filter: brightness(2);
  transition-delay: 0ms;
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/850066798271135784/partnerbadge2.gif");
  
}
.topSectionSpotify-1lI0-P .profileBadgePartner-j6Lwhr,
.topSectionPlaying-1J5E4n .profileBadgePartner-j6Lwhr,
.topSectionStreaming-1Tpf5X.profileBadgePartner-j6Lwhr{
  filter: brightness(2);
  transition-delay: 2600ms;
}
.topSectionSpotify-1lI0-P .profileBadgeHypesquad-12E2P6:hover,
.topSectionPlaying-1J5E4n .profileBadgeHypesquad-12E2P6:hover,
.topSectionStreaming-1Tpf5X.profileBadgeHypesquad-12E2P6:hover{
  transition-delay: 0ms;
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/850268947823722506/events.gif");
  
}