@use "src/badges.css";
// @use "src/whitebadges.css";
:root {
  --badge-size: 22px; //discord defualt = 18px, theme defualt = 22px;
  --badge-margin: 1.5px; //discord default = 2px, theme defualt = 1.5px
  --badges-everywhere-size: 15px; //defualt = 15px
}