@keyframes devbadge {
  0% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838640197304341/thing1.png");
  } 6.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838641575919616/thing2.png");
  } 12.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838643107889173/thing3.png");
  } 18.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838644717977660/thing4.png");
  } 25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838646499901500/thing5.png");
  } 31.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838647398006804/thing6.png")
  } 37.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838648417615903/thing7.png");
  } 43.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838649788497940/thing8.png");
  } 50% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838650111852544/thing9.png");
  } 56.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838652200353792/thing10.png");
  } 62.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848841593095454780/thing11.png")
  } 68.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838686955012126/thing12.png");
  } 75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838692889034752/thing13.png");
  } 81.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838702435139615/thing14.png");
  } 87.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838706067537951/thing15.png")
  } 93.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838717279174666/thing16.png");
  } 100% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838640197304341/thing1.png");
  }
}
@keyframes devbadge2 {
  0% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850781991178862652/verifieddevinverted1.png");
  } 6.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850781992584216586/verifieddevinverted2.png");
  } 12.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850781995613159444/verifieddevinverted3.png");
  } 18.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850781998308917288/verifieddevinverted4.png");
  } 25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782001476534292/verifieddevinverted5.png");
  } 31.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782004488568833/verifieddevinverted6.png")
  } 37.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782009285935165/verifieddevinverted7.png");
  } 43.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782012448571412/verifieddevinverted8.png");
  } 50% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782015145639966/verifieddevinverted9.png");
  } 56.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782017837989899/verifieddevinverted10.png");
  } 62.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782091158880326/verifieddevinverted11.png")
  } 68.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782093038583818/verifieddevinverted12.png");
  } 75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782095060238346/verifieddevinverted13.png");
  } 81.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782096921985024/verifieddevinverted14.png");
  } 87.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782100461191168/verifieddevinverted15.png")
  } 93.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782102651142194/verifieddevinverted16.png");
  } 100% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782102651142194/verifieddevinverted16.png");
  }
}
/* Early supporter badge someday maybe :(
.profileBadgeEarlySupporter-2ng_jL {} */
.clickable-17BDii[aria-label*="Early Supporter"]:hover >img{
      animation: earlysupporter 2.25s infinite normal linear;
}
@keyframes earlysupporter {
  0%{
    transform: scale(1) rotate(0deg);
  } 25%{
    transform: scale(1.1) rotate(45deg);
  } 50%{
    transform: scale(1.2) rotate(0deg);
  } 75%{
    transform: scale(1.1) rotate(-45deg);
  }
  100%{
     transform: scale(1) rotate(0deg);
  }
}
/* Booster badges */
/* .clickable-17BDii[aria-label*="Server boosting"] {
  transition-duration: 0.5s;
  transition-delay: 0.95s;
} */
.clickable-17BDii[aria-label*="Server boosting"]:hover >img {
  transform: scale(0.855);
  content: url("https://cdn.discordapp.com/emojis/845808489238757426.gif");
}

/* Staff badges */
.clickable-17BDii[aria-label*="Discord Staff"] > img{
  transition-duration: 0.5s;
}
.clickable-17BDii[aria-label*="Discord Staff"]:hover >img{
  transform: scale(1.1);
  filter: contrast(1) brightness(0.67) saturate(1.8);
  content: url("https://media.discordapp.net/attachments/756856464374628352/849207087409528842/staff.png");
}

/* Hype Squad badges */
.clickable-17BDii[aria-label*="HypeSquad B"] > img{
  transition-duration: 0.4s;
  transform: scale(1.1);
  padding: 18px 18px 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
.clickable-17BDii[aria-label*="HypeSquad B"]:hover > img{
  filter: drop-shadow(0px 0px 2px var(--hypesquad-colour));
}
.clickable-17BDii[aria-label*="HypeSquad Bravery"]:hover > img{
  --hypesquad-colour: rgb(156, 132, 239);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848502137436635156/braverysquadbadge.png");
  transform: scale(1.5);
}

.clickable-17BDii[aria-label*="HypeSquad Brilliance"]:hover >img{
  --hypesquad-colour: rgb(244, 123, 103);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503338579656714/brilliancesquadbadge.png");
  transform: scale(1.5);
}
.clickable-17BDii[aria-label*="HypeSquad Balance"]:hover > img{
  --hypesquad-colour: rgb(69, 221, 192);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503229583065088/balancesquadbadge.png");
    transform: scale(1.5);
}
.clickable-17BDii[aria-label*="HypeSquad Bravery"] > img{
  background-image: url("/assets/995ecfdbdf94ad84dd4d802c104e4630.svg") ;
}
.clickable-17BDii[aria-label*="HypeSquad Brilliance"] > img{
  background-image: url("/assets/473dadec13ab7e90e209cc60fccb31c5.svg") ;
}
.clickable-17BDii[aria-label*="HypeSquad Balance"] > img{
  background-image: url("/assets/58f11abcf3c13812bff969baaeb84d82.svg") ;
}
/* Hype squad events badges */
.clickable-17BDii[aria-label*="HypeSquad Events"] {
  transform: scale(1) translateY(0px);
  /* transition-delay: 1s; */
}
.clickable-17BDii[aria-label*="HypeSquad Events"]:hover >img {
    padding: 18px 18px 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url('https://media.discordapp.net/attachments/756856464374628352/849218085961596948/events.gif') ;
  transform: scale(1) translateY(-1.5px);
}

/* Partner badge */
.clickable-17BDii[aria-label*="Partner"] > img{
  background-image: url("https://media.discordapp.net/attachments/855157744305831966/857513752501026817/partnerbadge.png") ;
  transition-delay: 2s;
  padding: 18px 18px 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  filter: contrast(1.35);
  transform: scale(0.9);
}
.clickable-17BDii[aria-label*="Partner"]:hover >img {
  padding: 18px 18px 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  filter: contrast(1.35);
  background-image: url('https://media.discordapp.net/attachments/756856464374628352/848503285556051988/partnerbadge.gif') ;
  transform: scale(0.9);
  transition-delay: 0s;
}
/* Certified moderator badge */
.clickable-17BDii[aria-label*="Certified Moderator"] {
  transition-duration: 1.4s;
}
.clickable-17BDii[aria-label*="Certified Moderator"]:hover {
  transform: rotateY(540deg) scale(1.2);
}

/* Bug hunter badges */
.clickable-17BDii[aria-label*="Bug Hunter"] {
  transition-duration: 0.5s;
}
.clickable-17BDii[aria-label*="Bug Hunter"]:hover {
  transform: rotateY(180deg) rotate(-90deg) scale(1.1);
}

/* Nitro badge */
.clickable-17BDii[aria-label*="Subscriber"] {
  transition-duration: 1s;
  filter: contrast(1) hue-rotate(0deg);
}
.clickable-17BDii[aria-label*="Subscriber"]:hover {
  transform: scale(1.2);
  filter: contrast(1.2) hue-rotate(-390deg);
}

/* Verified dev */
.clickable-17BDii[aria-label*="Early Verified Bot Developer"]:hover >img {
  animation: devbadge 5s infinite normal linear;
    padding: 24px 24px 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}

/* Badges EveryWhere Compatibiliy*/
.layout-2DM8Md .profileBadgePartner-j6Lwhr:hover, .header-23xsNx .profileBadgePartner-j6Lwhr:hover, .repliedMessage-VokQwo .profileBadgePartner-j6Lwhr:hover{
  transform: scaleY(0.65);
}
.powercord-settings-item-inner .profileBadgeStaff-3BXdTO:hover{
  filter: contrast(1) brightness(1) saturate(1);
  background-image:url("https://cdn.discordapp.com/attachments/756856464374628352/849211258950910012/staff.png");
}
.powercord-settings-item-inner [class*="profileBadgeHypeSquad"]:hover{
  --hypesquad-colour: white;
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503318497198092/whitesquadbadge.png");
}
.powercord-settings-item-inner [class*="GuildSubscriberlvl"]:hover
{
  filter: brightness(1.1) contrast(2) opacity(75%);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/849951762127126548/boosterbadge.gif");
  transform: scale(0.9);
  transition-delay: 0s;
}
.powercord-settings-item-inner .profileBadgePartner-j6Lwhr:hover{
  transform: scaleY(0.65);
  filter: brightness(2);
  transition-delay: 0ms;
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/850066798271135784/partnerbadge2.gif");
  
}
.powercord-settings-item-inner .profileBadgeHypesquad-12E2P6:hover{
  transition-delay: 0ms;
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/850268947823722506/events.gif");
  transform: scale(1.2);
  
}
.powercord-settings-item-inner .profileBadgeVerifiedDeveloper-195KfD:hover{
  transform: scale(1.3);
    animation: devbadge2 5s infinite normal linear;
} 
.powercord-settings-item-inner .profileBadgePremium-1KDZYC:hover{
  background-image: url("https://discord.com/assets/386884eecd36164487505ddfbac35a9d.svg");
  filter: hue-rotate(720deg);
  transform: scale(1.2);
}
.powercord-settings-item-inner .profileBadgePremium-1KDZYC{
  filter: hue-rotate(0deg);
}
/* rainbowwwwwww */
div[data-user-id^="678541597654253600"] > .contents-2mQqc9 > .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy{
  background-image: 
  linear-gradient(to right, #FF6663,#FEB144,#FDFD97,#9EE09E,#9EC1CF,#A05BFD, #CC99C9); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  animation: move 2000s linear infinite;
}
@keyframes move {
	to {
		background-position: 26000px;
	}
}
.profileBadge-2niAfJ:before {
display: none;
}