/* @keyframes devbadge2 {
    0% {
      background-image: url("https://media.discordapp.net/attachments/756856464374628352/850781991178862652/verifieddevinverted1.png");
    } 6.25% {
      background-image: url("https://media.discordapp.net/attachments/756856464374628352/850781992584216586/verifieddevinverted2.png");
    } 12.5% {
      background-image: url("https://media.discordapp.net/attachments/756856464374628352/850781995613159444/verifieddevinverted3.png");
    } 18.75% {
      background-image: url("https://media.discordapp.net/attachments/756856464374628352/850781998308917288/verifieddevinverted4.png");
    } 25% {
      background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782001476534292/verifieddevinverted5.png");
    } 31.25% {
      background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782004488568833/verifieddevinverted6.png")
    } 37.5% {
      background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782009285935165/verifieddevinverted7.png");
    } 43.75% {
      background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782012448571412/verifieddevinverted8.png");
    } 50% {
      background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782015145639966/verifieddevinverted9.png");
    } 56.25% {
      background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782017837989899/verifieddevinverted10.png");
    } 62.5% {
      background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782091158880326/verifieddevinverted11.png")
    } 68.75% {
      background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782093038583818/verifieddevinverted12.png");
    } 75% {
      background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782095060238346/verifieddevinverted13.png");
    } 81.25% {
      background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782096921985024/verifieddevinverted14.png");
    } 87.5% {
      background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782100461191168/verifieddevinverted15.png")
    } 93.75% {
      background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782102651142194/verifieddevinverted16.png");
    } 100% {
      background-image: url("https://media.discordapp.net/attachments/756856464374628352/850782102651142194/verifieddevinverted16.png");
    }
} */
.clickable-17BDii > img{
  height: var(--badge-size) !important;
  width: var(--badge-size) !important;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
div[aria-label*="Discord Staff"] > img {
  background-image: url("/assets/7cfd90c8062139e4804a1fa59f564731.svg") !important;
}
div[aria-label*="Partner"] > img {
  background-image: url("/assets/a6a741e07b5ec2d1583f8b98df3c2143.svg") !important;
}
div[aria-label*="HypeSquad Events"] > img {
  background-image: url("/assets/3a050fcc884255231b99b7033c776070.svg") !important;
  transform: scale(0.9) translateY(-1.5px);
}
div[aria-label*="HypeSquad Bravery"] > img {
  background-image: url("/assets/1115767aed344e96a27a12e97718c171.svg") !important;
  transform: scale(0.9);
}
div[aria-label*="HypeSquad Brilliance"] > img {
  background-image: url("/assets/d3478c6bd5cee0fc600e55935ddc81aa.svg") !important;
  transform: scale(0.9);
}
div[aria-label*="HypeSquad Balance"] > img {
  background-image: url("/assets/2a085ed9c86f3613935a6a8667ba8b89.svg") !important;
  transform: scale(0.9);
}
div[aria-label*="Early Verified Bot Developer"] > img {
  background-image: url("/assets/785d81fdbedd133e213da693aba98774.svg") !important;
}
div[aria-label*="Early Supporter"] > img {
  background-image: url("/assets/ce15562552e3d70c56d5408cfeed2ffd.svg") !important;
}
div[aria-label*="Subscriber"] > img {
  background-image: url("/assets/379d2b3171722ef8be494231234da5d1.svg") !important;
}
div[aria-label*="Bug Hunter"] > img {
  background-image: url("/assets/df26f079738a4dcd07cbce6eb3c957f1.svg") !important;
}
div[aria-label*="Server boosting"] > img{
  filter: brightness(1.1) opacity(100%) grayscale(1.05);
  padding: 0px 0px 0px 0px;
  overflow:auto;
  box-sizing: border-box;
}
div[aria-label*="Certified Moderator"] >img{
 padding: 0px 0px 0px 0px;
 overflow:auto;
   box-sizing: border-box;
   filter: brightness(4);
   transform: scale(1.05);
}