.layout-2DM8Md .profileBadgePartner-j6Lwhr:hover, .header-23xsNx .profileBadgePartner-j6Lwhr:hover, .repliedMessage-VokQwo .profileBadgePartner-j6Lwhr:hover{
    transform: scaleY(0.65);
  }
  .powercord-settings-item-inner .profileBadgeStaff-3BXdTO:hover{
    filter: contrast(1) brightness(1) saturate(1);
    background-image:url("https://cdn.discordapp.com/attachments/756856464374628352/849211258950910012/staff.png");
  }
  .powercord-settings-item-inner [class*="profileBadgeHypeSquad"]:hover{
    --hypesquad-colour: white;
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503318497198092/whitesquadbadge.png");
  }
  .powercord-settings-item-inner [class*="GuildSubscriberlvl"]:hover
  {
    filter: brightness(1.1) contrast(2) opacity(75%);
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/849951762127126548/boosterbadge.gif");
    transform: scale(0.9);
    transition-delay: 0s;
  }
  .powercord-settings-item-inner .profileBadgePartner-j6Lwhr:hover{
    transform: scaleY(0.65);
    filter: brightness(2);
    transition-delay: 0ms;
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850066798271135784/partnerbadge2.gif");
    
  }
  .powercord-settings-item-inner .profileBadgeHypesquad-12E2P6:hover{
    transition-delay: 0ms;
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/850268947823722506/events.gif");
    transform: scale(1.2);
    
  }
  .powercord-settings-item-inner .profileBadgeVerifiedDeveloper-195KfD:hover{
    transform: scale(1.3);
      animation: devbadge2 5s infinite normal linear;
  } 
  .powercord-settings-item-inner .profileBadgePremium-1KDZYC:hover{
    background-image: url("https://discord.com/assets/386884eecd36164487505ddfbac35a9d.svg");
    filter: hue-rotate(720deg);
    transform: scale(1.2);
  }
  .powercord-settings-item-inner .profileBadgePremium-1KDZYC{
    filter: hue-rotate(0deg);
  }