.badges > div > img{
  height: var(--badges-everywhere-size) !important;
  width: var(--badges-everywhere-size) !important;
  /* padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
  position: absolute; */
}
.badges > div[aria-label*="Early Supporter"] > img, .badges > div[aria-label*="Discord Staff"] > img, .badges > div[aria-label*="Partner"] > img, .badges > div[aria-label*="HypeSquad Events"] > img, .badges > div[aria-label*="Early Verified Bot Developer"]:hover > img{ 
  padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
}
.badges > div[aria-label*="Early Supporter"]:hover::after{
  font-size: calc(var(--badges-everywhere-size)*0.5454);
  transform: scale(1) translate(10.5px,-15.5px);
}
.badges > [aria-label*="Server boosting"] > img{
  height: calc(var(--badges-everywhere-size) - 1.9px) !important;
  width: calc(var(--badges-everywhere-size) - 1.9px) !important;
  transform: translateY(1.2px);
}
.badges > [aria-label*="Server boosting"]:hover > img{
  /* transform: translate(0.5px, 1.2px); */
  zoom: 100%;
}
.badges > div[aria-label*="HypeSquad B"] > img{
  padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
.badges > div[aria-label*="Partner"] > img{
  transform: translateY(1.6px);
}