@import url("https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap");
@keyframes devbadge {
  0% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838640197304341/thing1.png");
  }
  6.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838641575919616/thing2.png");
  }
  12.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838643107889173/thing3.png");
  }
  18.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838644717977660/thing4.png");
  }
  25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838646499901500/thing5.png");
  }
  31.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838647398006804/thing6.png");
  }
  37.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838648417615903/thing7.png");
  }
  43.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838649788497940/thing8.png");
  }
  50% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838650111852544/thing9.png");
  }
  56.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838652200353792/thing10.png");
  }
  62.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848841593095454780/thing11.png");
  }
  68.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838686955012126/thing12.png");
  }
  75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838692889034752/thing13.png");
  }
  81.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838702435139615/thing14.png");
  }
  87.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838706067537951/thing15.png");
  }
  93.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838717279174666/thing16.png");
  }
  100% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838640197304341/thing1.png");
  }
}
@keyframes dance {
  10%,
  90% {
    transform: translate(-0.5px) scale(1.5);
  }
  20%,
  80% {
    transform: translate(1px) scale(1.5);
  }
  30%,
  50%,
  70% {
    transform: translate(-2px) scale(1.5);
  }
  40%,
  60% {
    transform: translate(2px) scale(1.5);
  }
}
.container-1gYwHN > * {
  justify-content: flex-end;
  margin: var(--badge-margin);
}
.clickable-1knRMS > img {
  height: var(--badge-size) !important;
  width: var(--badge-size) !important;
}
/* Hype Squad Badges*/
img[src="/assets/e666a84a7a5ea2abbbfa73adf22e627b.svg"] {
  transition-delay: 2s;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("https://discord.com/assets/e666a84a7a5ea2abbbfa73adf22e627b.svg");
}
div:hover > img[src="/assets/e666a84a7a5ea2abbbfa73adf22e627b.svg"] {
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/849218085961596948/events.gif");
  transform: translateY(-1.5px);
  transition-delay: 0s;
}
div[aria-label*="HypeSquad"] > img {
  transition-duration: 0.4s;
  transform: scale(1.15);
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
div[aria-label*="HypeSquad"]:hover > img {
  filter: drop-shadow(0px 0px 2px var(--hypesquad-colour));
}
div:hover > img[src="/assets/efcc751513ec434ea4275ecda4f61136.svg"] {
  --hypesquad-colour: rgb(156, 132, 239);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848502137436635156/braverysquadbadge.png");
  transform: scale(1.35);
}
div:hover > img[src="/assets/ec8e92568a7c8f19a052ef42f862ff18.svg"] {
  --hypesquad-colour: rgb(244, 123, 103);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503338579656714/brilliancesquadbadge.png");
  transform: scale(1.35);
}
div:hover > img[src="/assets/9f00b18e292e10fc0ae84ff5332e8b0b.svg"] {
  --hypesquad-colour: rgb(69, 221, 192);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503229583065088/balancesquadbadge.png");
  transform: scale(1.35);
}
img[src="/assets/efcc751513ec434ea4275ecda4f61136.svg"] {
  background-image: url("https://discord.com/assets/995ecfdbdf94ad84dd4d802c104e4630.svg");
}
img[src="/assets/ec8e92568a7c8f19a052ef42f862ff18.svg"] {
  background-image: url("https://discord.com/assets/473dadec13ab7e90e209cc60fccb31c5.svg");
}
img[src="/assets/9f00b18e292e10fc0ae84ff5332e8b0b.svg"] {
  background-image: url("https://discord.com/assets/58f11abcf3c13812bff969baaeb84d82.svg");
}
/* Nitro badge */
img[src="/assets/24d05f3b46a110e538674edbac0db4cd.svg"] {
  transition-duration: 1s;
  filter: contrast(1) hue-rotate(0deg);
}
div:hover > img[src="/assets/24d05f3b46a110e538674edbac0db4cd.svg"] {
  transform: scale(1.2);
  filter: contrast(1.2) hue-rotate(-390deg);
}
/* Booster badges */
div:hover > img[src="/assets/ca18353be0e57a2b3b3132fa1c08d6b4.svg"],
div:hover > img[src="/assets/22f99ed6e34eaca48950254c70f8fe8d.svg"],
div:hover > img[src="/assets/4a2618502278029ce88adeea179ed435.svg"],
div:hover > img[src="/assets/fbafa6adb7c49a6a2c3822521ff2af2f.svg"],
div:hover > img[src="/assets/0599f90e32c15b532647163edd72f70a.svg"],
div:hover > img[src="/assets/e07c08cdc72bcc78b69c76d2c7ceb344.svg"],
div:hover > img[src="/assets/c7f26927db5e7806790f4e968038630a.svg"],
div:hover > img[src="/assets/c6d88d1d12afe03bdc4ebb747f8d196b.svg"],
div:hover > img[src="/assets/d96ed283b74de75692487b7499fb8d09.svg"] {
  content: url("https://cdn.discordapp.com/emojis/845808489238757426.gif");
}
img[src="/assets/ca18353be0e57a2b3b3132fa1c08d6b4.svg"],
img[src="/assets/22f99ed6e34eaca48950254c70f8fe8d.svg"],
img[src="/assets/4a2618502278029ce88adeea179ed435.svg"],
img[src="/assets/fbafa6adb7c49a6a2c3822521ff2af2f.svg"],
img[src="/assets/0599f90e32c15b532647163edd72f70a.svg"],
img[src="/assets/e07c08cdc72bcc78b69c76d2c7ceb344.svg"],
img[src="/assets/c7f26927db5e7806790f4e968038630a.svg"],
img[src="/assets/c6d88d1d12afe03bdc4ebb747f8d196b.svg"],
img[src="/assets/d96ed283b74de75692487b7499fb8d09.svg"] {
  height: calc(var(--badge-size) - 2.59px) !important;
  width: calc(var(--badge-size) - 2.59px) !important;
  transform: translate(0.5px, 1.9px);
}
/* Early Supporter */
img[src="/assets/b802e9af134ff492276d94220e36ec5c.svg"] {
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("https://discord.com/assets/b802e9af134ff492276d94220e36ec5c.svg");
  transition-duration: 0.5s;
}
.clickable-1knRMS:hover
  > img[src="/assets/b802e9af134ff492276d94220e36ec5c.svg"] {
  transform: scale(1.16);
}
.clickable-1knRMS[aria-label*="Early Supporter"]:hover::after {
  transform: scale(1) translate(12.5px, -11px);
}
.clickable-1knRMS[aria-label*="Early Supporter"]::after {
  background-color: transparent;
  content: "❤";
  color: #dd504d;
  position: absolute;
  z-index: 100000;
  font-size: calc(var(--badge-size) * 0.5454);
  transform: scale(0) translate(50px, -100px);
  transition-duration: 0.5s;
}
/* Verified dev */
div:hover > img[src="/assets/4441e07fe0f46b3cb41b79366236fca6.svg"] {
  animation: devbadge 5s infinite normal linear;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
/* Partner badge */
img[src="/assets/34306011e46e87f8ef25f3415d3b99ca.svg"] {
  background-image: url("https://media.discordapp.net/attachments/855157744305831966/857513752501026817/partnerbadge.png");
  transition-delay: 2s;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  filter: contrast(1.35);
  zoom: 90%;
  transform: translateY(2.4px);
}
div:hover > img[src="/assets/34306011e46e87f8ef25f3415d3b99ca.svg"] {
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503285556051988/partnerbadge.gif");
  transition-delay: 0s;
}
/* Certified moderator badge */
img[src="/assets/c981e58b5ea4b7fedd3a643cf0c60564.svg"] {
  transition-duration: 1.4s;
  transition-delay: 0.1s;
}
div:hover > img[src="/assets/c981e58b5ea4b7fedd3a643cf0c60564.svg"] {
  transform: rotateY(540deg) scale(1.2);
  transition-delay: 0s;
}
/* Bug hunter badges */
img[src="/assets/8353d89b529e13365c415aef08d1d1f4.svg"],
img[src="/assets/f599063762165e0d23e8b11b684765a8.svg"] {
  transition-duration: 0.5s;
}
div:hover > img[src="/assets/5c6bb5c4640972078fc993f1b5f503ce.svg"],
div:hover > img[src="/assets/f599063762165e0d23e8b11b684765a8.svg"] {
  transform: rotateY(180deg) rotate(-90deg);
}
/* Staff badge */
img[src="/assets/48d5bdcffe9e7848067c2e187f1ef951.svg"] {
  transition-duration: 0.5s;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("https://discord.com/assets/48d5bdcffe9e7848067c2e187f1ef951.svg");
}
div:hover > img[src="/assets/48d5bdcffe9e7848067c2e187f1ef951.svg"] {
  transform: scale(1.1);
  filter: brightness(0.8) contrast(1.5) saturate(0.975);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/849207087409528842/staff.png");
}
.warningCircleIcon-3R0DL,
.warningCircleIcon-mFju_mw {
  transition-duration: 0.2s;
  height: var(--badge-size);
  width: var(--badge-size);
  transform: scale(1);
}
.warningCircleIcon-1YXIHu:hover,
.warningCircleIcon-mFju_m:hover {
  transform: scale(1.5);
  animation: dance 0.82s 0.25s normal ease;
}
.warningCircleIcon-1YXIHu:hover path,
.warningCircleIcon-mFju_m:hover path {
  d: path(
    "M 10 0 Z M 9 4 H 11 V 11 H 9 V 4 Z M 10 15.25 C 9.31 15.25 8.75 14.691 8.75 14 C 8.75 13.31 9.31 12.75 10 12.75 C 10.69 12.75 11.25 13.31 11.25 14 C 11.25 14.691 10.69 15.25 10 15.25 Z"
  );
}
/* initialization */
a[href*="https://support.discord.com"]:after
{
  animation: initialize 2.75s 2 normal linear 4s;
  transform: translate(30000px);
  content: "hi";
  font-size: 22px;
  position: absolute;
}
@keyframes initialize {
  0% {
    background: url("https://media.discordapp.net/attachments/756856464374628352/848503285556051988/partnerbadge.gif");
  }
  20% {
    background: url("https://cdn.discordapp.com/emojis/845808489238757426.gif");
  }
  40% {
    background: url("https://media.discordapp.net/attachments/756856464374628352/849218085961596948/events.gif");
  }
  60% {
    background: url("https://media.discordapp.net/attachments/756856464374628352/848502137436635156/braverysquadbadge.png");
  }
  80% {
    background: url("https://media.discordapp.net/attachments/756856464374628352/848503338579656714/brilliancesquadbadge.png");
  }
  100% {
    background: url("https://media.discordapp.net/attachments/756856464374628352/848503229583065088/balancesquadbadge.png");
  }
}
.toolbar-3_r2xA::after {
  animation: devbadge 5.5s 2 4s normal linear;
  transform: translate(1000px);
  content: "hi";
  font-size: 22px;
  position: absolute;
}

/* badges everywhere */
.badges img,
.badges-XRnWAp img {
  height: var(--badges-everywhere-size) !important;
  width: var(--badges-everywhere-size) !important;
}
/* early supporter, staff, partner, hypesqaud events, verified dev, bug hunter*/
.badges img[src="/assets/d66ce47c4ab7817190af9544f97e98cc.svg"],
.badges img[src="/assets/f62be1ec9bdd82d3d77158ad81830e68.svg"],
.badges img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"],
.badges img[src="/assets/f5354673c9cff61c1dcc70081ef774e5.svg"],
.badges > div:hover > img[src="/assets/877dc8bece1590e63fac6d5a0cd2a225.svg"],
.badges > div[aria-label*="HypeSquad"] > img,
.badges
  img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"]
  .badges
  img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"] {
  padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
  /* overflow: hidden; */
  /* background-color: white; */
}
.badges img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"] {
  transform: translate(1px, 0.3px);
}
.badges > div[aria-label*="Early Supporter"]:hover::after {
  font-size: calc(var(--badges-everywhere-size) * 0.5454);
  transform: scale(1) translate(10.5px, -15.5px);
}
.badges img[src="/assets/1d3c9e1123aee11a325af328609d1274.svg"],
.badges img[src="/assets/dd50d32cf4fee241b2fa022d8c0435ae.svg"],
.badges img[src="/assets/7294cc730410a1caeceeca736f800b42.svg"],
.badges img[src="/assets/ce54a4f8c0e133a6f2d60336e7acac7d.svg"],
.badges img[src="/assets/c0c9db2de008e61a1a720581ca175fa1.svg"],
.badges img[src="/assets/556158300f0dca136d3c902586ff1316.svg"],
.badges img[src="/assets/ba38c1c57dfccb94127e53b7ac502a90.svg"],
.badges img[src="/assets/42ecb902decfc8e83a7446a0904b1e18.svg"],
.badges img[src="/assets/496aa1174817ec391612f745dc8e0725.svg"] {
  height: calc(var(--badges-everywhere-size) - 1.9px) !important;
  width: calc(var(--badges-everywhere-size) - 1.9px) !important;
  transform: translateY(1.2px);
  overflow: visible;
}
.badges-XRnWAp img[src="/assets/1d3c9e1123aee11a325af328609d1274.svg"],
.badges-XRnWAp img[src="/assets/dd50d32cf4fee241b2fa022d8c0435ae.svg"],
.badges-XRnWAp img[src="/assets/7294cc730410a1caeceeca736f800b42.svg"],
.badges-XRnWAp img[src="/assets/ce54a4f8c0e133a6f2d60336e7acac7d.svg"],
.badges-XRnWAp img[src="/assets/c0c9db2de008e61a1a720581ca175fa1.svg"],
.badges-XRnWAp img[src="/assets/556158300f0dca136d3c902586ff1316.svg"],
.badges-XRnWAp img[src="/assets/ba38c1c57dfccb94127e53b7ac502a90.svg"],
.badges-XRnWAp img[src="/assets/42ecb902decfc8e83a7446a0904b1e18.svg"],
.badges-XRnWAp img[src="/assets/496aa1174817ec391612f745dc8e0725.svg"] {
  height: calc(var(--badges-everywhere-size) - 1.9px) !important;
  width: calc(var(--badges-everywhere-size) - 1.9px) !important;
  padding: 0px 0px 0px 0px;
  overflow: visible;
}
.badges-XRnWAp img[src="/assets/d66ce47c4ab7817190af9544f97e98cc.svg"],
.badges-XRnWAp img[src="/assets/f62be1ec9bdd82d3d77158ad81830e68.svg"],
.badges-XRnWAp img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"],
.badges-XRnWAp img[src="/assets/f5354673c9cff61c1dcc70081ef774e5.svg"],
.badges-XRnWAp
  > div:hover
  > img[src="/assets/877dc8bece1590e63fac6d5a0cd2a225.svg"],
.badges-XRnWAp > div[aria-label*="HypeSquad"] > img,
.badges-XRnWAp
  img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"]
  .badges-XRnWAp
  img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"] {
  padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
  overflow: hidden;
}
.badges-XRnWAp img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"] {
  transform: translate(1px, 0.3px);
}
.badges-XRnWAp [src="/assets/473dadec13ab7e90e209cc60fccb31c5.svg"],
.badges-XRnWAp [src="/assets/995ecfdbdf94ad84dd4d802c104e4630.svg"],
.badges-XRnWAp [src="/assets/58f11abcf3c13812bff969baaeb84d82.svg"] {
  transition-duration: 0.4s;
  transform: scale(1.15);
  padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
/* coolkid */
.userPopout-2j1gM4[aria-label="mr_miner"] .headerText-1-WmDq::after {
  content: "Better Badges Dev";
  font-size: 13px;
  -webkit-text-fill-color: rgb(226, 117, 253);
  font-family: "Slabo 13px", sans-serif;
  font-weight: 500;
}
.userPopout-2j1gM4[aria-label="mr_miner"]
  .headerTagDiscriminatorNoNickname-dfcvHa:after {
  content: "" !important;
}

/* temp fix for discord stupidity*/

@import url("https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap");
@keyframes devbadge {
  0% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838640197304341/thing1.png");
  }
  6.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838641575919616/thing2.png");
  }
  12.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838643107889173/thing3.png");
  }
  18.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838644717977660/thing4.png");
  }
  25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838646499901500/thing5.png");
  }
  31.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838647398006804/thing6.png");
  }
  37.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838648417615903/thing7.png");
  }
  43.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838649788497940/thing8.png");
  }
  50% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838650111852544/thing9.png");
  }
  56.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838652200353792/thing10.png");
  }
  62.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848841593095454780/thing11.png");
  }
  68.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838686955012126/thing12.png");
  }
  75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838692889034752/thing13.png");
  }
  81.25% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838702435139615/thing14.png");
  }
  87.5% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838706067537951/thing15.png");
  }
  93.75% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838717279174666/thing16.png");
  }
  100% {
    background-image: url("https://media.discordapp.net/attachments/756856464374628352/848838640197304341/thing1.png");
  }
}
@keyframes dance {
  10%,
  90% {
    transform: translate(-0.5px) scale(1.5);
  }
  20%,
  80% {
    transform: translate(1px) scale(1.5);
  }
  30%,
  50%,
  70% {
    transform: translate(-2px) scale(1.5);
  }
  40%,
  60% {
    transform: translate(2px) scale(1.5);
  }
}
.container-1gYwHN > * {
  justify-content: flex-end;
  margin: var(--badge-margin);
}
.clickable-1knRMS > img {
  height: var(--badge-size) !important;
  width: var(--badge-size) !important;
}
/* Hype Squad Badges*/
img[src="/assets/f5354673c9cff61c1dcc70081ef774e5.svg"] {
  transition-delay: 2s;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("https://discord.com/assets/f5354673c9cff61c1dcc70081ef774e5.svg");
}
div:hover > img[src="/assets/f5354673c9cff61c1dcc70081ef774e5.svg"] {
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/849218085961596948/events.gif");
  transform: translateY(-1.5px);
  transition-delay: 0s;
}
div[aria-label*="HypeSquad"] > img {
  transition-duration: 0.4s;
  transform: scale(1.15);
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
div[aria-label*="HypeSquad"]:hover > img {
  filter: drop-shadow(0px 0px 2px var(--hypesquad-colour));
}
div:hover > img[src="/assets/995ecfdbdf94ad84dd4d802c104e4630.svg"] {
  --hypesquad-colour: rgb(156, 132, 239);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848502137436635156/braverysquadbadge.png");
  transform: scale(1.35);
}
div:hover > img[src="/assets/473dadec13ab7e90e209cc60fccb31c5.svg"] {
  --hypesquad-colour: rgb(244, 123, 103);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503338579656714/brilliancesquadbadge.png");
  transform: scale(1.35);
}
div:hover > img[src="/assets/58f11abcf3c13812bff969baaeb84d82.svg"] {
  --hypesquad-colour: rgb(69, 221, 192);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503229583065088/balancesquadbadge.png");
  transform: scale(1.35);
}
img[src="/assets/995ecfdbdf94ad84dd4d802c104e4630.svg"] {
  background-image: url("https://discord.com/assets/995ecfdbdf94ad84dd4d802c104e4630.svg");
}
img[src="/assets/473dadec13ab7e90e209cc60fccb31c5.svg"] {
  background-image: url("https://discord.com/assets/473dadec13ab7e90e209cc60fccb31c5.svg");
}
img[src="/assets/58f11abcf3c13812bff969baaeb84d82.svg"] {
  background-image: url("https://discord.com/assets/58f11abcf3c13812bff969baaeb84d82.svg");
}
/* Nitro badge */
img[src="/assets/e04ce699dcd2fd50d352a384511687a9.svg"] {
  transition-duration: 1s;
  filter: contrast(1) hue-rotate(0deg);
}
div:hover > img[src="/assets/e04ce699dcd2fd50d352a384511687a9.svg"] {
  transform: scale(1.2);
  filter: contrast(1.2) hue-rotate(-390deg);
}
/* Booster badges */
div:hover > img[src="/assets/1d3c9e1123aee11a325af328609d1274.svg"],
div:hover > img[src="/assets/dd50d32cf4fee241b2fa022d8c0435ae.svg"],
div:hover > img[src="/assets/7294cc730410a1caeceeca736f800b42.svg"],
div:hover > img[src="/assets/ce54a4f8c0e133a6f2d60336e7acac7d.svg"],
div:hover > img[src="/assets/c0c9db2de008e61a1a720581ca175fa1.svg"],
div:hover > img[src="/assets/556158300f0dca136d3c902586ff1316.svg"],
div:hover > img[src="/assets/ba38c1c57dfccb94127e53b7ac502a90.svg"],
div:hover > img[src="/assets/42ecb902decfc8e83a7446a0904b1e18.svg"],
div:hover > img[src="/assets/496aa1174817ec391612f745dc8e0725.svg"] {
  content: url("https://cdn.discordapp.com/emojis/845808489238757426.gif");
}
img[src="/assets/1d3c9e1123aee11a325af328609d1274.svg"],
img[src="/assets/dd50d32cf4fee241b2fa022d8c0435ae.svg"],
img[src="/assets/7294cc730410a1caeceeca736f800b42.svg"],
img[src="/assets/ce54a4f8c0e133a6f2d60336e7acac7d.svg"],
img[src="/assets/c0c9db2de008e61a1a720581ca175fa1.svg"],
img[src="/assets/556158300f0dca136d3c902586ff1316.svg"],
img[src="/assets/ba38c1c57dfccb94127e53b7ac502a90.svg"],
img[src="/assets/42ecb902decfc8e83a7446a0904b1e18.svg"],
img[src="/assets/496aa1174817ec391612f745dc8e0725.svg"] {
  height: calc(var(--badge-size) - 2.59px) !important;
  width: calc(var(--badge-size) - 2.59px) !important;
  /* transform: translate(0.5px, 1.9px); */
}
/* Early Supporter */
img[src="/assets/d66ce47c4ab7817190af9544f97e98cc.svg"] {
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("https://discord.com/assets/d66ce47c4ab7817190af9544f97e98cc.svg");
  transition-duration: 0.5s;
}
div:hover > img[src="/assets/d66ce47c4ab7817190af9544f97e98cc.svg"] {
  transform: scale(1.16);
}
div[aria-label*="Early Supporter"]:hover::after {
  transform: scale(1) translate(12.5px, -11px);
}
div[aria-label*="Early Supporter"]::after {
  background-color: transparent;
  content: "❤";
  color: #dd504d;
  position: absolute;
  z-index: 100000;
  font-size: calc(var(--badge-size) * 0.5454);
  transform: scale(0) translate(50px, -100px);
  transition-duration: 0.5s;
}
/* Verified dev */
div:hover > img[src="/assets/877dc8bece1590e63fac6d5a0cd2a225.svg"] {
  animation: devbadge 5s infinite normal linear;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
/* Partner badge */
img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"] {
  background-image: url("https://media.discordapp.net/attachments/855157744305831966/857513752501026817/partnerbadge.png");
  transition-delay: 2s;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  filter: contrast(1.35);
  zoom: 90%;
  transform: translateY(2.4px);
}
div:hover > img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"] {
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/848503285556051988/partnerbadge.gif");
  transition-delay: 0s;
}
/* Certified moderator badge */
img[src="/assets/2af69d4f9d2ff38a7cf76fab0907ea7a.svg"] {
  transition-duration: 1.4s;
  transition-delay: 0.1s;
}
div:hover > img[src="/assets/2af69d4f9d2ff38a7cf76fab0907ea7a.svg"] {
  transform: rotateY(540deg) scale(1.2);
  transition-delay: 0s;
}
/* Bug hunter badges */
img[src="/assets/5c6bb5c4640972078fc993f1b5f503ce.svg"],
img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"] {
  transition-duration: 0.5s;
}
div:hover > img[src="/assets/5c6bb5c4640972078fc993f1b5f503ce.svg"],
div:hover > img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"] {
  transform: rotateY(180deg) rotate(-90deg);
}
/* Staff badge */
img[src="/assets/f62be1ec9bdd82d3d77158ad81830e68.svg"] {
  transition-duration: 0.5s;
  padding: var(--badge-size) var(--badge-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-image: url("https://discord.com/assets/f62be1ec9bdd82d3d77158ad81830e68.svg");
}
div:hover > img[src="/assets/f62be1ec9bdd82d3d77158ad81830e68.svg"] {
  transform: scale(1.1);
  filter: brightness(0.8) contrast(1.5) saturate(0.975);
  background-image: url("https://media.discordapp.net/attachments/756856464374628352/849207087409528842/staff.png");
}
.warningCircleIcon-3R0DL,
.warningCircleIcon-mFju_mw {
  transition-duration: 0.2s;
  height: var(--badge-size);
  width: var(--badge-size);
  transform: scale(1);
}
.warningCircleIcon-1YXIHu:hover,
.warningCircleIcon-mFju_m:hover {
  transform: scale(1.5);
  animation: dance 0.82s 0.25s normal ease;
}
.warningCircleIcon-1YXIHu:hover path,
.warningCircleIcon-mFju_m:hover path {
  d: path(
    "M 10 0 Z M 9 4 H 11 V 11 H 9 V 4 Z M 10 15.25 C 9.31 15.25 8.75 14.691 8.75 14 C 8.75 13.31 9.31 12.75 10 12.75 C 10.69 12.75 11.25 13.31 11.25 14 C 11.25 14.691 10.69 15.25 10 15.25 Z"
  );
}
/* initialization */
a[href*="https://support.discord.com"]:after
{
  animation: initialize 2.75s 2 normal linear 4s;
  transform: translate(30000px);
  content: "hi";
  font-size: 22px;
  position: absolute;
}
@keyframes initialize {
  0% {
    background: url("https://media.discordapp.net/attachments/756856464374628352/848503285556051988/partnerbadge.gif");
  }
  20% {
    background: url("https://cdn.discordapp.com/emojis/845808489238757426.gif");
  }
  40% {
    background: url("https://media.discordapp.net/attachments/756856464374628352/849218085961596948/events.gif");
  }
  60% {
    background: url("https://media.discordapp.net/attachments/756856464374628352/848502137436635156/braverysquadbadge.png");
  }
  80% {
    background: url("https://media.discordapp.net/attachments/756856464374628352/848503338579656714/brilliancesquadbadge.png");
  }
  100% {
    background: url("https://media.discordapp.net/attachments/756856464374628352/848503229583065088/balancesquadbadge.png");
  }
}
.toolbar-3_r2xA::after {
  animation: devbadge 5.5s 2 4s normal linear;
  transform: translate(1000px);
  content: "hi";
  font-size: 22px;
  position: absolute;
}

/* badges everywhere */
.badges img,
.badges-XRnWAp img {
  height: var(--badges-everywhere-size) !important;
  width: var(--badges-everywhere-size) !important;
}
.badges img[src="/assets/d66ce47c4ab7817190af9544f97e98cc.svg"],
.badges img[src="/assets/f62be1ec9bdd82d3d77158ad81830e68.svg"],
.badges img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"],
.badges img[src="/assets/f5354673c9cff61c1dcc70081ef774e5.svg"],
.badges > div:hover > img[src="/assets/877dc8bece1590e63fac6d5a0cd2a225.svg"],
.badges > div[aria-label*="HypeSquad"] > img,
.badges
  img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"]
  .badges
  img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"] {
  padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
  overflow: hidden;
}
.badges img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"] {
  transform: translate(1px, 0.3px);
}
.badges > div[aria-label*="Early Supporter"]:hover::after {
  font-size: calc(var(--badges-everywhere-size) * 0.5454);
  transform: scale(1) translate(10.5px, -15.5px);
}
.badges img[src="/assets/1d3c9e1123aee11a325af328609d1274.svg"],
.badges img[src="/assets/dd50d32cf4fee241b2fa022d8c0435ae.svg"],
.badges img[src="/assets/7294cc730410a1caeceeca736f800b42.svg"],
.badges img[src="/assets/ce54a4f8c0e133a6f2d60336e7acac7d.svg"],
.badges img[src="/assets/c0c9db2de008e61a1a720581ca175fa1.svg"],
.badges img[src="/assets/556158300f0dca136d3c902586ff1316.svg"],
.badges img[src="/assets/ba38c1c57dfccb94127e53b7ac502a90.svg"],
.badges img[src="/assets/42ecb902decfc8e83a7446a0904b1e18.svg"],
.badges img[src="/assets/496aa1174817ec391612f745dc8e0725.svg"] {
  height: calc(var(--badges-everywhere-size) - 1.9px) !important;
  width: calc(var(--badges-everywhere-size) - 1.9px) !important;
  transform: translateY(1.2px);
  overflow: visible;
}
.badges-XRnWAp img[src="/assets/1d3c9e1123aee11a325af328609d1274.svg"],
.badges-XRnWAp img[src="/assets/dd50d32cf4fee241b2fa022d8c0435ae.svg"],
.badges-XRnWAp img[src="/assets/7294cc730410a1caeceeca736f800b42.svg"],
.badges-XRnWAp img[src="/assets/ce54a4f8c0e133a6f2d60336e7acac7d.svg"],
.badges-XRnWAp img[src="/assets/c0c9db2de008e61a1a720581ca175fa1.svg"],
.badges-XRnWAp img[src="/assets/556158300f0dca136d3c902586ff1316.svg"],
.badges-XRnWAp img[src="/assets/ba38c1c57dfccb94127e53b7ac502a90.svg"],
.badges-XRnWAp img[src="/assets/42ecb902decfc8e83a7446a0904b1e18.svg"],
.badges-XRnWAp img[src="/assets/496aa1174817ec391612f745dc8e0725.svg"] {
  height: calc(var(--badges-everywhere-size) - 1.9px) !important;
  width: calc(var(--badges-everywhere-size) - 1.9px) !important;
  padding: 0px 0px 0px 0px;
  overflow: visible;
}
.badges-XRnWAp img[src="/assets/d66ce47c4ab7817190af9544f97e98cc.svg"],
.badges-XRnWAp img[src="/assets/f62be1ec9bdd82d3d77158ad81830e68.svg"],
.badges-XRnWAp img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"],
.badges-XRnWAp img[src="/assets/f5354673c9cff61c1dcc70081ef774e5.svg"],
.badges-XRnWAp
  > div:hover
  > img[src="/assets/877dc8bece1590e63fac6d5a0cd2a225.svg"],
.badges-XRnWAp > div[aria-label*="HypeSquad"] > img,
.badges-XRnWAp
  img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"]
  .badges-XRnWAp
  img[src="/assets/46f6a28f462889f1a36cfca2591fcade.svg"] {
  padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
  overflow: hidden;
}
.badges-XRnWAp img[src="/assets/53828e0c0fb6676440ad11b5d2586241.svg"] {
  transform: translate(1px, 0.3px);
}
.badges-XRnWAp [src="/assets/473dadec13ab7e90e209cc60fccb31c5.svg"],
.badges-XRnWAp [src="/assets/995ecfdbdf94ad84dd4d802c104e4630.svg"],
.badges-XRnWAp [src="/assets/58f11abcf3c13812bff969baaeb84d82.svg"] {
  transition-duration: 0.4s;
  transform: scale(1.15);
  padding: var(--badges-everywhere-size) var(--badges-everywhere-size) 0px 0px;
  overflow: hidden;
  box-sizing: border-box;
}
/* coolkid */
.userPopout-2j1gM4[aria-label="mr_miner"] .headerText-1-WmDq::after {
  content: "Better Badges Dev";
  font-size: 13px;
  -webkit-text-fill-color: rgb(226, 117, 253);
  font-family: "Slabo 13px", sans-serif;
  font-weight: 500;
}
.userPopout-2j1gM4[aria-label="mr_miner"]
  .headerTagDiscriminatorNoNickname-dfcvHa:after {
  content: "" !important;
}
