:root{
  --badge-size: 22px;
  --badge-margin: 1.5px;
  --badges-everywhere-size:16px;
}
@import url("https://mr-miner1.github.io/Better-Badges/src/coloredbadges.css");
@import url("https://mr-miner1.github.io/Better-Badges/src/badgeseverywhere.css");